body {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    padding: 50px;
    width: 300px;
    margin: 0 auto;
    background-color: #00131f;
    text-align: center;
  }
  
  h1 {
    font-size: 45px;
  }
  
  .container {
    margin: 60% auto;
  }
  
  button {
    display: inline;
    background-color: #0f1010;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px;
    margin: 10px;
    text-align: center;
    color: #4e4040;
    font-weight: bold;
    font-size: 62px;
  }
  